<div class="container card" style="margin-top: 1rem">
  <div class="process-wrapper ">
    <div class="title" style="margin-bottom: 1rem;">
      <h3>ຂະແໜງການ</h3>
    </div>
  </div>

  <ng-container *ngFor="let item of getData()">
    <div class="item-content">
      <div class="item-title">
        {{item.prTitle}}
        <div class="btn">
          <span class="material-icons " [ngClass]="{'arrowsp': show && prid === item.prId}"
            (click)="show = !show;prid = item.prId">
            arrow_drop_down
          </span>
        </div>
      </div>

      <div class="item-body" [ngClass]="{'showDel': show &&  prid === item.prId}">
        <p>{{item.prDsc}}</p>
      </div>
    </div>
  </ng-container>



</div>
