<div class="container">

    <div class="detail-wrapper">
      <div class="title">
          <h3>{{newsDetailList[0].title}}</h3>
      </div>
        <div class="content">
          <div class="img-wrapper">
            <img src="{{url + newsDetailList[0].imgUrl[0]}}" alt="">
          </div>
          <div class="info">
            <p>{{newsDetailList[0].dsc}}</p>
          </div>

          <div class="cover-wraper" *ngIf="coverList.length > 0">
              <div class="item" *ngFor="let co of coverList[0].imgUrl; let i = index">
                <img src="{{url + co}}" alt="">
              </div>
          </div>
        </div>
    </div>
</div>
