<div class="container">
  <div class="depament-info-wrapper card" style="margin-top: 1rem">
    <div class="title">
      <h3>ຊ່ອງທາງຕິດຕໍ່ພະແນກ</h3>

      <div class="content">



        <div class="info">
          <ol style="margin-left: 3rem; margin-top: 1rem;">
            <ng-container *ngFor="let item of jsonDaTa">
              <label for="">{{item.dpcTitle}}:</label>

              <p  style="white-space: pre-wrap; margin-top: 1rem;">
                 {{item.dpcDsc}}
              </p>
            </ng-container>



          </ol>
        </div>

      </div>

    </div>
  </div>
</div>
