

<div class="tf-tree example">
  <ul>
    <li *ngFor="let item of modal">
      <span class="tf-nc" (click)="getDetail(item)"  style="display: flex; align-items: center; flex-direction: column; text-align: center;">
        <div class="img-wrapper">
          <img src="{{url + getImgUrl(item.imgUrl)}}" alt="super deal">
        </div>
        {{item.name}}<br>
        {{item.type}}
      </span>


      <ul *ngIf="item.children">

        <li *ngFor="let children1 of item.children">
          <span class="tf-nc" (click)="getDetail(children1)"  style="display: flex; align-items: center; flex-direction: column; text-align: center;">
            <div class="img-wrapper">
              <img src="{{( getImgUrl(children1.imgUrl))?url + getImgUrl(children1.imgUrl) : './assets/user/user1.png'}}" alt="super deal">
            </div>
            {{children1.name}}<br>
            {{children1.type}}
          </span>

          <ul *ngIf="children1.children">

            <li *ngFor="let children2 of children1.children">
              <span class="tf-nc" (click)="getDetail(children2)"  style="display: flex; align-items: center; flex-direction: column; text-align: center;">
                <div class="img-wrapper">
                  <img src="{{( getImgUrl(children2.imgUrl))?url + getImgUrl(children2.imgUrl) : './assets/user/user1.png'}}" alt="super deal">
                </div>
                {{children2.name}}<br>
                {{children2.type}}
              </span>

              <ul *ngIf="children2.children">

                <li *ngFor="let children3 of children2.children">
                  <span class="tf-nc" (click)="getDetail(children3)" style="display: flex; align-items: center; flex-direction: column; text-align: center;">
                    <div class="img-wrapper">
                      <img src="{{( getImgUrl(children3.imgUrl))?url +  getImgUrl(children3.imgUrl) : './assets/user/user1.png'}}" alt="super deal">
                    </div>
                    {{children3.name}}<br>
                    {{children3.type}}
                  </span>

                  <ul *ngIf="children3.children">

                    <li *ngFor="let children4 of children3.children">
                      <span class="tf-nc" (click)="getDetail(children4)" style="display: flex; align-items: center; flex-direction: column; text-align: center;">
                        <div class="img-wrapper">
                          <img src="{{( getImgUrl(children4.imgUrl))? url + getImgUrl(children4.imgUrl) : './assets/user/user1.png'}}" alt="super deal">
                        </div>
                        {{children4.name}}<br>
                        {{children4.type}}
                      </span>
                    </li>

                  </ul>
                </li>

              </ul>
            </li>

          </ul>

        </li>

      </ul>

    </li>
  </ul>
</div>

<div class="modal-container" *ngIf="detailData">
  <div class="content card">
    <div class="img-warp">
      <img src="{{(getImgUrl(detailData.imgUrl))?url + getImgUrl(detailData.imgUrl) : './assets/user/user1.png'}}" alt="super deal">
    </div>
    <div class="info">
      <p>{{detailData.name}}</p>
      <p>{{detailData.type}}</p>
      <p>{{detailData.dsc}}</p>
    </div>

    <div class="colse">
      <span class="material-icons" (click)="close()">
        close
      </span>
    </div>
  </div>
</div>
