<main>

  <div class="header " [ngClass]="{'stiky-menu': service.hidenMenu  }">
    <app-nav-menu></app-nav-menu>
  </div>

  <div class="slider">
    <ng-container>
      <div class="banner-slider">
        <app-banner-slider *ngIf="service.routActive === 'home'"></app-banner-slider>
      </div>
    </ng-container>
  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <app-donor-flag></app-donor-flag>
    <app-footer></app-footer>
  </div>

</main>
