<div class="conatiner"> 
  <div class="slider-wrapper" >
    <ng-container *ngFor="let item of imageList; let i = index">
      <img [ngClass]="{'img-active': showIndex === i}" src="{{url + getImgUrl(item.imgUrl)}}" alt="{{item.imgUrl}}"> 
    </ng-container>

    <div class="btn-action">
      <button (click)="blackFunc()" [disabled]="showIndex == 0" >
        <span class="material-icons">
          arrow_back_ios
        </span>
      </button>
      <button (click)="nextFunc()" [disabled]="showIndex == imageList.length -1">
        <span class="material-icons">
          arrow_forward_ios
        </span>
      </button>
    </div>

    <div class="dot" >
        <div class="item " *ngFor="let item of imageList; let i = index" 
        [ngClass]="{'active-dot': showIndex === i}"
        (click)="switchBanner(i)"
        > </div>
    </div>
  </div>
</div>

<!-- <div class="slider">
  <span id="slide-1"></span>
  <span id="slide-2"></span>
  <span id="slide-3"></span>
  <div class="image-container">
    <img src="/uploads/media/default/0001/03/66cf5094908491e69d8187bcf934050a4800b37f.jpeg" class="slide" width="500" height="300" />
    <img src="/uploads/media/default/0001/03/b7d624354d5fa22e38b0ab1f9b905fb08ccc6a05.jpeg" class="slide" width="500" height="300" />
    <img src="/uploads/media/default/0001/03/5bfad15a7fd24d448a48605baf52655a5bbe5a71.jpeg" class="slide" width="500" height="300" />
  </div>
  <div class="buttons">
    <a href="#slide-1"></a>
    <a href="#slide-2"></a>
    <a href="#slide-3"></a>
  </div>
</div> -->
