<div class="conatiner">
  <div class="slider-wrapper" >
    <ng-container *ngFor="let item of imageList; let i = index">
      <img [ngClass]="{'img-active': showIndex === i}" src="{{url + getImgUrl(item.imgUrl)}}" alt="{{item.imgUrl}}">
    </ng-container>

    <div class="btn-action">
      <button (click)="blackFunc()" [disabled]="showIndex == 0" >
        <span class="material-icons">
          arrow_back_ios
        </span>
      </button>
      <button (click)="nextFunc()" [disabled]="showIndex == imageList.length -1">
        <span class="material-icons">
          arrow_forward_ios
        </span>
      </button>
    </div>

    <div class="dot" >
        <div class="item " *ngFor="let item of imageList; let i = index"
        [ngClass]="{'active-dot': showIndex === i}"
        (click)="switchBanner(i)"
        > </div>
    </div>
  </div>
</div>


