.container{
  margin: 0.5rem 0;
  .home-wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    // box-shadow: 0 0 6px rgba(0, 0, 0, 0.048);
    border-radius: 2px;

    .new-title{
      h3{
        margin: 0;
        margin-bottom: 0.5rem;
      }
    }
    .news-wrapper{
      cursor: pointer;
      padding-bottom: 1rem;
      border-bottom: 1px solid gainsboro;
      margin-bottom: 1.0rem;
      width: 100%;
      &:last-child(){
        border-bottom: none;
      }
      .news-img{
        overflow: hidden;
        height: 250px;
        width: 100%;
        position: relative;
        border-radius: 2px;
        img{
          height: 100%;
          width: 100%;
        }
        .news-bg{
          background: rgb(0,0,0);
          background: linear-gradient(0deg, rgba(0,0,0,0.8743872549019608) 0%, rgba(0,0,0,0.5270483193277311) 52%, rgba(0,0,0,0.32816876750700286) 77%, rgba(0,0,0,0) 100%);
          width: 100%;
          color: white;
          position: absolute;
          bottom: 0px;
          left: 0;
          padding:8px;
          padding-top: 1.5rem;
          .news-title{
            font-weight: normal;
            word-break: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            h4{
              margin: 0;
            }
          }
          .news-content{
            font-weight: normal;
            word-break: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            p{
              font-size: 14px;
            }
          }
        }
      }
    }

    .img-slider{
      margin-top: 1rem;
      h3{
        color: #1e73be;
        margin: 0;
        margin-bottom: 0.5rem;
      }
      .img-wrapper{
        position: relative;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        .slider-wrapper{
          overflow: hidden;
       
          width: 100%;
          height: 500px;
          a{
            img{
              border-radius: 2px;
              height: 100%;
              width: 100%;
            }
          }

          .show-img{
            display: block;
          }
      
        }
        .dot{
          position: absolute;
          bottom: 25px;
          display: flex;
          .dot-item{
            cursor: pointer;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 5px;
            background: rgb(168, 168, 168);
          }
          .active-dot{
            width: 24px !important;
            border-radius: 10px;
            outline: 2px solid #1e73be;
            background: white !important;
          }
        }
        
        .btn-action{
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 0.5rem;

          button{
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            outline: none;
            border: none;
            padding: 6px;
            cursor: pointer;
            color: white;
            border-radius: 2px;
            transition: .2s;
            height: 60px;
            &:hover{
              background: rgba(102, 102, 102, 0.596);
              span{
                color: white;
              }
            }
          }
        }
        }
      }

  }

  .product-wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 1rem;
  }

}

@keyframes mymove {
  from {right: 100%;}
  to {right: 0;}
}
