<div class="container " style="margin-top: 1rem;">
  <div class="process-wrapper ">
    <div class="title">
      <h3>ບັນດາລີ້ງເວັບໄຊອື່ນ</h3>
      <a style="text-decoration: none; color: black;" href="javascript:void(0)" [routerLink]="['/siteLinks']" routerLinkActive="router-link-active">
        <h3>ເບິ່ງເພີ່ມເຕີມ ></h3>
      </a>
    </div>
  </div>


  <div class="item-content">
    <ng-container *ngFor="let item of jasonData;let i = index">
      <a style="text-decoration: none;" class="company-wrapper " href="{{item.slLink}}" id="hiden" target="blank" *ngIf="i < 4">

        <div class="img-wrapper">
          <img [src]="url + getImgUrl(item.imgUrl)" alt="img">
        </div>
        <div class="company-name">
          <p>{{item.slName}}</p>
        </div>
      </a>
    </ng-container>
  </div>


</div>
