<div class="container" *ngIf="prodList.length > 0">
  <div class="super-deal" >
    <div class="head-super-deal">
      <div class="the-side">
        <span class="material-icons">
          local_fire_department
          </span>
        <p style="color: #1e73be; "> {{title}}</p>
      </div>
      <div class="the-side see-more">
        <a href="javascript:void(0)" [routerLink]="[checkTitle()]" routerLinkActive="router-link-active" >ເບິ່ງເພີ່ມເຕີມ</a>
        <span class="material-icons" style="color: #ff4747;">
          navigate_next
          </span>
      </div>
    </div>

    <div class="content-deal">
      <a class="product-deal"  *ngFor="let prod of prodList" [routerLink]="[productLink(prod.prod_id)]" routerLinkActive="router-link-active" >
        <div class="product-deal-img">
          <img src="http://216.127.173.163/{{prod.imgUrl[0]}}" alt="super deal">
        </div>

        <div class="title-price">
          <p >{{prod.prodName}}</p>
          <label >{{prod.dsc}}</label>
          <!-- <p id="price">₭ {{prod.salsePrice | currency: '':'':'1.0-0'}}</p> -->
          <div class="discount">

              <!-- <del>₭ {{prod.price}}</del>
              <span class="percent"> {{((prod.salsePrice/prod.price)) *100 - 100 | number:'1.0-0'}}%</span> -->
          </div>
        </div>

      </a>
    </div>
  </div>
</div>
