<div class="container">
  <div class="title">
    <h4>ແຈ້ງການລາຄາອັບເດດສີນຄ້າ</h4>
  </div>
  <div class="product-wrapper">
    <div class="git-item">

      <!-- <div class="item">
        <div class="item-title">
          <span class="material-icons">place</span>
          <h4>ອັບເດດສີນຄ້າແຂວງຜົ້ງສາລີ</h4>
        </div>
        <div class="table-wrapper">
          <table>
            <tr>
              <th style="width: 50px;">ລ/ດ</th>
              <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
              <th>ລາຍລະອຽດ</th>
            </tr>

            <tr *ngFor="let item of noticeList;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td class="dsc"><a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink">{{item.dsc}}</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="item">
        <div class="item-title">
          <span class="material-icons">place</span>
          <h4>ອັບເດດສີນຄ້າແຂວງອຸດົມໄຊ</h4>
        </div>

        <div class="table-wrapper">
          <table>
            <tr>
              <th style="width: 50px;">ລ/ດ</th>
              <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
              <th>ລາຍລະອຽດ</th>
            </tr>

            <tr *ngFor="let item of noticeList2;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td class="dsc"><a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink">{{item.dsc}}</a></td>
            </tr>
          </table>
        </div>

      </div>

      <div class="item">
        <div class="item-title">
          <span class="material-icons">place</span>
          <h4>ອັບເດດສີນຄ້າແຂວງຫຼວງນ້ຳທາ</h4>
        </div>

        <div class="table-wrapper">
          <table>
            <tr>
              <th style="width: 50px;">ລ/ດ</th>
              <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
              <th>ລາຍລະອຽດ</th>
            </tr>

            <tr *ngFor="let item of noticeList3;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td class="dsc"><a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink">{{item.dsc}}</a></td>
            </tr>
          </table>
        </div>
      </div> -->


      <div class="table-wrapper">
        <table>
          <tr>
            <th>ລໍາດັບ</th>
            <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
            <th>ລາຍລະອຽດ</th>
            <th>ລາຄາ</th>
            <th>ແຂວງ</th>
          </tr>
          <tr *ngFor="let item of getData();let i = index">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td>{{item.dsc}}</td>
            <td>{{item.price | currency: ' ':'':'1.0-0'}}</td>
            <td>{{item.province}}</td>
          </tr>
        </table>

     
      </div>
    </div>
  </div>
</div>