<div class="container">
  <div class="title">
    <h4>ແຈ້ງການລາຄາອັບເດດສີນຄ້າ</h4>
  </div>

  <div class="product-wrapper">
    <div class="git-item">

      <div class="table-wrapper">
        <table>
          <tr>
            <th>ລໍາດັບ</th>
            <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
            <th>ແຂວງຜົ້ງສາລີ</th>
            <th>ແຂວງອຸດົມໄຊ</th>
            <th>ແຂວງຫຼວງນໍ້າທາ</th>
          </tr>
          <tr *ngFor="let item of getData();let i = index" (click)="setHistory(item)">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td>{{(item.price === "0")? " " : item.price | currency: ' ':'':'1.0-0'}}</td>
            <td>{{(item.price2 === "0")? " " : item.price2 | currency: ' ':'':'1.0-0'}}</td>
            <td>{{(item.price3 === "0")? " " : item.price3| currency: ' ':'':'1.0-0'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-container" *ngIf="openModalHistory">
    <div class="content card">

      <div class="table-wrapper">
        <table>
          <tr style="height: 35px;">
            <th>ລໍາດັບ</th>
            <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
            <th>ແຂວງຜົ້ງສາລີ</th>
            <th>ແຂວງອຸດົມໄຊ</th>
            <th>ແຂວງຫຼວງນໍ້າທາ</th>
            <th>ອັບແດດຫຼ່າສຸດ</th>
          </tr>

          <tr style="height: 40px;" *ngFor="let item of getHistory(); let i = index">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td>{{(item.price === "0")? " " : item.price | currency: ' ':'':'1.0-0'}}</td>
            <td>{{(item.price2 === "0")? " " : item.price2 | currency: ' ':'':'1.0-0'}}</td>
            <td>{{(item.price3 === "0")? " " : item.price3| currency: ' ':'':'1.0-0'}}</td>
            <td>{{item.createDate | date: "dd/MM/yyyy"}}</td>
          </tr>
        </table>
      </div>

      <div class="colse">
        <span class="material-icons" (click)="closeFunc()">
          close
        </span>
      </div>

    </div>
  </div>


</div>
