<div class="container">
  <div class="title">
    <h4>ແຈ້ງການລາຄາອັບເດດສີນຄ້າ</h4>
  </div>
  <div class="product-wrapper">
    <div class="git-item">
      <div class="item">
        <div class="item-title">
          <span class="material-icons">place</span>
          <h4>ອັບເດດສີນຄ້າແຂວງຜົ້ງສາລີ</h4>
        </div>
        <!-- <div class="item-contetn" *ngFor="let item of noticeList">
              <div class="box1">
                <img src="http://216.127.173.163/{{item.imgUrl[0]}}" alt="">
              </div>

              <a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink" class="box2">
                <label>{{item.title}}</label>
                <p style="font-weight: normal;">{{item.dsc}}</p>
              </a>
          </div> -->
        <div class="table-wrapper">
          <table>
            <tr>
              <th style="width: 50px;">ລ/ດ</th>
              <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
              <th>ລາຍລະອຽດ</th>
            </tr>

            <tr *ngFor="let item of noticeList;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td class="dsc"><a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink">{{item.dsc}}</a></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="item">
        <div class="item-title">
          <span class="material-icons">place</span>
          <h4>ອັບເດດສີນຄ້າແຂວງອຸດົມໄຊ</h4>
        </div>
        <!-- <div class="item-contetn" *ngFor="let item of noticeList2">
          <div class="box1">
            <img src="http://216.127.173.163/{{item.imgUrl[0]}}" alt="">
          </div>

          <a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink" class="box2">
            <label>{{item.title}}</label>
            <p>{{item.dsc}}</p>
          </a>
        </div> -->

        <div class="table-wrapper">
          <table>
            <tr>
              <th style="width: 50px;">ລ/ດ</th>
              <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
              <th>ລາຍລະອຽດ</th>
            </tr>

            <tr *ngFor="let item of noticeList2;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td class="dsc"><a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink">{{item.dsc}}</a></td>
            </tr>
          </table>
        </div>

      </div>

      <div class="item">
        <div class="item-title">
          <span class="material-icons">place</span>
          <h4>ອັບເດດສີນຄ້າແຂວງຫຼວງນ້ຳທາ</h4>
        </div>
        <!-- <div class="item-contetn" *ngFor="let item of noticeList3">
          <div class="box1">
            <img src="http://216.127.173.163/{{item.imgUrl[0]}}" alt="">
          </div>

          <a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink" class="box2">
            <label>{{item.title}}</label>
            <p>{{item.dsc}}</p>
          </a>
        </div> -->

        <div class="table-wrapper">
          <table>
            <tr>
              <th style="width: 50px;">ລ/ດ</th>
              <th>ຫົວຂໍ້ອັບເດດສີນຄ້າ</th>
              <th>ລາຍລະອຽດ</th>
            </tr>

            <tr *ngFor="let item of noticeList3;let i = index">
              <td>{{i+1}}</td>
              <td>{{item.title}}</td>
              <td class="dsc"><a href="http://216.127.173.163/{{item.imgUrl[0]}}" target="blink">{{item.dsc}}</a></td>
            </tr>
          </table>
        </div>
      </div>



    </div>

  </div>
</div>